<h1>Spørsmål</h1>

<div>
  <% @questions.each do |q| %>
    <h3><%= q.title %></h3>
    <p1><%= q.body %></p1>
    <h5>
      <time datetime="<% q.format_time %>">
        <%= q.format_time %>
      </time>
    </h5>
  <% end %>
<div>
