<h1>Spørsmål</h1>

<div>
  <% @questions.each do |q| %>
    <h3><%= q.title %></h3>
    <p1><%= q.body %></p1>
    <h5>
      <time datetime="<% q.created_at.strftime('%Y-%m-%d %H:%M:%S') %>">
        <%= q.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
      </time>
    </h5>
  <% end %>
<div>
